body{
    font-family: 'Open Sans', sans-serif;
}


.nav-bar{
    -webkit-box-shadow: 0em 0em 0em lightgrey;
    -moz-box-shadow: 0em 0em 0em  lightgrey;
    box-shadow: 0em 0em 0em  lightgrey;
    border-radius: 0px !important;

}
h4{
    color: lightslategray;
}

/*The below navbar styles are to avoid the collapse of the navbar as the screen width reduces..*/
.navbar-light{

    border-radius: 0px;

}
.navbar-collapse.collapse{
    display: block !important;
}

.navbar-nav>li, .navbar-nav{
    float: left !important;
}

.navbar-nav.navbar-right:last-child{
    margin-right: -15px !important;
}


.nav-bar  a{
    color: steelblue !important;
}
.nav-bar  a:hover{
    color: lightslategray !important;
}
.navbar-right{
    float: right !important;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-weight: bold;
}



.navbar-toggle {
    z-index:3;
}

.form-group{
    display: inline;
}
.cards h3,h4{
    font-family: 'Raleway', sans-serif !important;
    color: black;
}


#srch-term{
    border-radius: 0em 0em 0em 0em;/*gives rounded corners of the search bar*/
    float: right;

}

#title-cont{
    padding: 1em;
    background-color: #F0EFEF;

     margin-bottom: 2em;

}
.cards{
    border-style: solid;
    border-width: 1.5px;
    border-color:  #F0EFEF;
    border-radius: 5px;


}
#card-container{
    padding: 1em;
    padding-bottom: 2em;

}
.cards #img-cont{
    height: 15em;
    width: 100%;
    overflow: hidden;
}
.cards img{
    width: 100%;
}
.cards div{
    height: 35em;
    overflow: hidden;
}
.cards a{
    text-decoration: none;
    color : black;
}
.navbar-form a{
    padding-left: 1em;
}
.navbar-form input{
    border-radius: 0px;
    -webkit-box-shadow: 0em;
    -moz-box-shadow: 0em;
    box-shadow: 0em;
}
footer{
    margin-top: 1em;
    -webkit-box-shadow: 0 0px 8px 9px  lightgrey;
    -moz-box-shadow: 0 0px 8px 9px  lightgrey;
    box-shadow: 0 0px 8px 9px  lightgrey;
    background-color: #F0EFEF;
    display: block;
}

footer a{
    float: right;
    font-size: 2em;
}
footer h4{
    float: left;
    color: steelblue !important;
}
#search-btn{
    padding-left: 1em;
}
#search-inp{
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px 0px  lightgrey;
    -moz-box-shadow: 0 0px 0px 0px  lightgrey;
    box-shadow: 0 0px 0px 0px  lightgrey;
}
#search{
    width: 100em;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    filter: alpha(opacity=50);
    color: #eeeeee;
    width: 4em;
    height: 4em;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper i{
    font-size: 2.5em;
}
.scroll-top-wrapper i:hover {
    color: steelblue;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
    color: darkgray;
}
#text-cont{
    margin: 1em;
}
@media only screen and (min-width: 700px) {
#container{
    width: 80%;
    margin: auto;
    min-height: 40em;
}
}
@media only screen and (min-width: 700px) {
    #container{

    }
}
.nav-bar ul li:hover{
    border-bottom-color: steelblue;
    border-bottom-style: bold ;
    border-bottom-width: 3px;
}
p{
    color: grey !important;
}


