.form-control{
    border-radius: 0px;

}

#title-bar{
    font-family: 'Oswald', sans-serif !important;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #F0EFEF ;
    color: steelblue;

}
form{
    width: 80%;
    margin: auto; /*this centre alligns the content*/
}